<!doctype html>
<html>
    <head>
        <title>Log-In</title>
        <link href="/bootstrap.css" rel="stylesheet">

        <style>
            .logo-box {
                width: 60px;
                height: 60px;
            }
            .logo {
                width: 70px;
            }

        </style>

        <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet'>
        <style>
            body {
                font-family: 'Abel';font-size: 22px;
                 }
        </style>
    </head>

    <body>

<!-- The Nav bar -->
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(238, 49, 36)">
            <div class="container" style="background-color: rgb(238, 49, 36)">
                    <!-- put your own image here -->
                    <a href='/home'><img src="/mshlogo.png" class="logo rounded-circle d-inline-block align-text-top"></a>
                   
               
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <form class="d-flex" role="search">
                    <button id="btnSearch" class="btn btn-light" type="submit">Log In</button>
                </form>
                <!-- nav's inside container -->
            </div>
        </nav>
<!-- END of the Navbar -->
<div class="container-fluid">
    <div class="row justify-content-md-center mt-4">

        <div class="text-center"><img src="/apple_logo_home.jpg" style="width: 25rem; height: 18rem;"></div>

        <div class="col-sm-4" align="center">
            <a href='/student/home'>
                <div class="btn me-5 "style="background-color: rgb(238, 49, 36); width: 15rem; height: 8rem;";>
                    <div class="text text-light align-items-center text-center mt-4 display-3">Student</div>
                </div>
            </a>
        </div>

        <div class="col-sm-4" align="center">
            <a href='/reader/home'>
                <div class="btn me-5"style="background-color: rgb(238, 49, 36); width: 15rem; height: 8rem;";>
                    <div class="text text-light align-items-center text-center mt-4 display-3">Reader</div>
                </div>
            </a>
        </div>

        <div class="col-sm-4" align="center">
            <a href='/admindy/submissions'>
                <div class="btn "style="background-color: rgb(238, 49, 36); width: 15rem; height: 8rem;";>
                    <div class="text text-light align-items-center text-center mt-4 display-3">Admin</div>
                </div>
            </a>
        </div>

    </div>
   
</div>
                         
<script src="/bootstrap.bundle.js"></script>
</body>
</html>