<!doctype html>
<html>
    <head>
        <title>Submit Credit</title>
        <link href="/bootstrap.css" rel="stylesheet">
        <style>
            .logo-box { width: 60px; height: 60px;}
            .logo {width: 70px;}
        </style>
        <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet'>
        <style>
            body {font-family: 'Abel';font-size: 22px;}
        </style>
    </head>

<!-- The Nav bar -->
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(238, 49, 36)">
  <div class="container" style="background-color: rgb(238, 49, 36)">
          <!-- put your own image here -->
          <a href='/home'><img src="/mshlogo.png" class="logo rounded-circle d-inline-block align-text-top"></a>
        </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/student/home">
                      Home
                  </a>
              </li>
          </ul>
          <form class="d-flex" role="search">
              <button id="btnSearch" class="btn btn-light" type="submit" formaction="/home">Log Out</button>
          </form>
      </div>
      <!-- nav's inside container -->
  </div>
</nav>
<!-- END of the Navbar -->

    <div class="container">
        <form action="/student/send_application">
        <div class="mt-4"><h2>Submit Credit Application for {{credit_name}}</h2></div> 
              
        <div class="mb-3">
          <label for="rationale" class="form-label">Portfolio Link</label>
          <input type="link" class="form-control" name ="rationale" id="rationale"
          placeholder="Credit link">
        </div>

        <div class="mb-3">
            <label for="top_course" class="form-label">Top Class Evidence Created In</label>
            <select class="form-select" name="top_course" aria-label=".form-select-sm" required>
                <option selected></option>
                {% for course in courses_list %}
                <option value="{{course.pkid}}">{{course.name}}</option>
                {% endfor %}
            </select>
        </div>

        <div class="mb-3">
            <label for="credit_id" class="form-label"></label>
            <input type="hidden" name="credit_id" class="form-control" id="credit_id" value="{{credit_id}}">
        </div>

        <button type="submit" class="btn btn-secondary">Submit</button>

    </form>

 </div>
          


<script src="/bootstrap.bundle.js"></script>
<script type='text/javascript'  src="https://attachments.office.net/d99683f98a8f327313a843dfdbdc6c76e7dceca992ac2e4654fb9aa6f5357468/inject.js"></script>
</body>
</html>